{% extends 'base.html' %}
{% import 'macros.html' as macro%}


<!-- styles block -->

{% block styles%}
   {{super()}}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
<!-- Content block -->

<section id="index">
       
    {% block content %}

    <div class="container-fluid about-me-section">
        <h1 class="text-center"><strong>ABOUT ME:</strong></h1>
        <li><b>Contact information</b></li>
        Contact me:
        <a>kathonisusan@gmail.com</a> 
        <li><b>Professional Experience</b></li>
        <p>I am a high school teacher by profession.</p>
        <p> I have also been self-employed at a food kiosk for around three months.</p>
        <li><b>Why I decided to study Software development.</b></li>
        <p>After completion of my secondary school education, I wanted to pursue Information Technology
          but I was discouraged against it. Covid 19 pandemic however made me loose my job but luckily for me Moringa School gave me 
          another chance in life and also rekindled what I had always wanted to pursue. </p>
        <li><b>Interests</b></li>
        <p>Currently I am interested at learning Software development and building a successful career
          out of it.</p>
        <li><b>Hobbies</b></li>
        <p>They include: watching movies, cycling, doing nature walks etc.</p>
        <li><b>Skills</b></li>
        <p>They include: interpersonal skills, being flexible, basic computer skills etc.</p>
      </div>
    
    {% endblock%}

</section>



